.cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: white;
}

.cell.mine{
    background-color: red;
}